# Static information about the filesystems.
# Remember to run `sudo chown -R hypeit:root  /mnt/others && sudo chmod 0770 -R /mnt/others` as in case of stupid ext4 there is no option to change permissions
# See fstab(5) for details.

# <file system> <dir> <type> <options> <dump> <pass>
/dev/sda3           	/         	btrfs     	rw,noatime,compress=zstd:3,ssd,space_cache=v2,commit=120,subvolid=256,subvol=/@	0 0

# /dev/sda2 UUID=641A-ED94
LABEL=EFIBOOT       	/boot     	vfat      	rw,relatime,fmask=0022,dmask=0022,codepage=437,iocharset=ascii,shortname=mixed,utf8,errors=remount-ro	0 2

/dev/sda3           	/home     	btrfs     	rw,noatime,compress=zstd:3,ssd,space_cache=v2,commit=120,subvolid=257,subvol=/@home	0 0

/dev/sda3           	/tmp      	btrfs     	rw,noatime,compress=zstd:3,ssd,space_cache=v2,commit=120,subvolid=259,subvol=/@tmp	0 0

/dev/sda3           	/var      	btrfs     	rw,noatime,compress=zstd:3,ssd,space_cache=v2,commit=120,subvolid=258,subvol=/@var	0 0

/dev/sda3           	/.snapshots	btrfs     	rw,noatime,compress=zstd:3,ssd,space_cache=v2,commit=120,subvolid=260,subvol=/@.snapshots	0 0

UUID=36af91ce-e156-4be2-a705-ddd14abc1dbe            	/mnt/others	ext4     	defaults,auto,noatime,async,user,rw	0 0