[alias]
	pullall = "!f() { find $1 -type d -maxdepth 1 -exec sh -c \"(cd {} && git pull 2>/dev/null)\" \\; ; }; f"
	fetchall = "!f() { find \"${1:-.}\" -type d -name .git -exec sh -c 'cd \"${1%/*}\" && echo \"\\n➡️  Fetching in ${1%/*}\" && git fetch --all --prune' _ {} \\; ; }; f"
[http]
	postBuffer = 524288000
	version = HTTP/2
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
[difftool]
	prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
[mergetool]
	prompt = false
[difftool "meld"]
	path = /usr/bin/meld
[mergetool "meld"]
	path = /usr/bin/meld
[difftool "vscode"]
	cmd = code-insiders --wait --diff $LOCAL $REMOTE
[credential "https://github.com/mateuszkozako"]
	useHttpPath = false
	credentialStore = secretservice
[credential "https://github.com/hypeitnow"]
	useHttpPath = true
	credentialStore = cache
	cacheOptions = "--timeout 86400"
[credential "https://github.com/circlek-global"] #if usehttpPath is false remember to use token not browser login
	useHttpPath = false
	credentialStore = secretservice
	username = mateusz.kozakowski
[user "https://github.com/circlek-global"]
	name = mateusz.kozakowski
	email = mateusz.kozakowski@circlekeurope.com
[user "https://github.com/hypeitnow"]
	name = hypeitnow
	email = matkoz111@gmail.com
[credential "https://code.netrix.com.pl"]
	useHttpPath = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = manager
	credentialStore = secretservice
	autoDetectTimeout = 30
[user] # this is just for global git config
	name = hypeit
	email = matkoz111@gmail.com
# GIT ignores the conditional includes which is why this is here