[alias]
	pullall = "!f() { find $1 -type d -maxdepth 1 -exec sh -c \"(cd {} && git pull --autostash --stat 2>/dev/null)\" \\; ; }; f"
	fetchall = "!f() { find \"${1:-.}\" -type d -name .git -exec sh -c 'cd \"${1%/*}\" && echo \"\\n➡️  Fetching in ${1%/*}\" && git fetch --all --tags --jobs=10 --prune' _ {} \\; ; }; f"
[includeIf "hasconfig:remote.origin.url:https://github.com/hypeitnow/*"]
	path = .gitconfig-hypeitnow
[http]
	postBuffer = 524288000
	version = HTTP/2
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
[difftool]
	prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
[mergetool]
	prompt = false
[difftool "meld"]
	path = /usr/bin/meld
[mergetool "meld"]
	path = /usr/bin/meld
[difftool "vscode"]
	cmd = code-insiders --wait --diff $LOCAL $REMOTE
[credential "https://github.com/mateuszkozako"]
	useHttpPath = false
	credentialStore = secretservice
[credential "https://github.com/hypeitnow"] # this cannot be included in conditional include
	useHttpPath = true
[credential "https://code.netrix.com.pl"]
	useHttpPath = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = manager
	credentialStore = secretservice
	autoDetectTimeout = 30
[user] # global default; hypeitnow repos use conditional include above
	name = mateusz.kozakowski
	email = mateusz.kozakowski@circlekeurope.com
